body{
    background:white;
    font-size:0.9rem;
    text-align:center;
    justify-content:center;
}

.navbar{
    text-align:center;
    color:blue
    
}

.background-items{
    text-align:center;
    margin-top:12rem;
    color:blue;
}


.btn{
    border-style:none;
    margin-top:60px;
    border-radius:4px;
    padding:4px;
    background-color:#90EE90;
    cursor:pointer;
}